{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>
        {{block "title" .}}PalindromeX{{end}}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ static "/static/style_default.css" }}" />
        {{block "header" .}}{{end}}
    </head>
    <body {{block "body_attributes" .}}{{end}}>
        <div class="container">
            <div id="flash" class="row">
                {{ range $type, $messages := .Flashes }}
                    {{ range $key, $message := $messages }}
                            <div class="col-sm-12 alert alert-{{ $type }}"  role="alert">{{ $message }}</div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{block "content" .}}{{end}}

        <div class="modal hidden">
          <div class="content">
            <div class="body">
                <h3 id="_modal-message">Are you sure?</h3>
                <hr>
                <div class="mt-2">
                    <button id="_modal-cancel" class="btn btn-secondary">Cancel</button>
                    <button id="_modal-confirm" class="btn btn-primary ml-5">Confirm</button>
                </div>
            </div>
          </div>
        </div>

        <script type="text/javascript" src="{{ static "/static/common.js" }}"></script>
        {{block "footer" .}}{{end}}
    </body>
</html>
{{end}}
