{{template "layout" .}}
{{define "title"}}Credentials{{end}}
{{define "content"}}
<div class="container">
    <div class="row mt-4">
        <h3>A new API Token has been successfully created</h3>
        <p class="mt-3">
            This is a permanent token, keep it safe. In case you would like to disable this token, you can do that by disabling the associated API Key.
        </p>
        <p>
            <b>API Token:</b> {{ .tokenString }}<br>
            <b>API Key:</b> {{ .apiKey }}
        </p>
    </div>
</div>
{{end}}
{{define "footer"}}
{{end}}

